* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 7fr;
    gap: 1em;
}

.row {
    margin: 1em 0;
}

.whiskeyForm input,
.whiskeyForm label {
    font-size: 1.25em;
    display: block;
}

.whiskeyForm input{
    padding: 0.25em;
}

.form-group{
    margin: 1em 0;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
}

.form-group-buttons button {
    display: block;
    font-size: 1.2em;
    padding: 0.25em;
    margin: 0.5em 0;
    cursor: pointer;
    background: steelblue;
    color: #fff;
}

ul.whiskeyList {
    list-style: none;
    display: flex;
}

ul.whiskeyList li {
    padding: 1em 2em;
    cursor: pointer;
    box-shadow: 0 0.2em 1em -0.5em #333;
    border-radius: 10px;
    margin: 0.5em 1em;
}

ul.whiskeyList li:hover {
    background-color: steelblue;
    color: #fff;
}